%div.posts
  %section.text-center
    = image_tag 'logo.png', class: 'logo'
    %h4.blog-title 
      Simplicity is the Result of Profound Reflection
    - if current_user.try(:admin)
      = link_to 'Add Post', new_post_path, class: 'btn'

    %input.blog-search{ "placeholder" => "React, Ruby on Rails, Vim"}

  %section
    %ol.mini-post-list
      - @posts.each do |post|
        %li.mini-post
          %h3.mini-post-title
            = link_to post.title, post_path(post)
          %p.mini-post-content
            = post.subtitle
          %span.post-tag
            Vim
          %span.post-tag
            Ruby
          %span.post-tag
            Tmux
          
          - if current_user.try(:admin)
            = link_to 'Edit', edit_post_path(post)

